spring:
  application:
    name: library
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: admin
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true